body {
  font-family: Tahoma;
  font-size: 22px;
  color: #a07bff;
}

div#container {
  width: 250;
}

div#container div {
  background: #4CAF50;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

div#container div.accent {
  background: #a07bff;
}

div.note {
  border-left: solid 3px yellow;
  background: #fff59f;
  box-sizing: border-box;
  padding: 8px;
}

div.note span.important {
  color: red;
  font-family: Verdana;
  font-size: 17px;
  text-decoration: underline;
}

.button, .button-success {
  background: #2196F3;
  color: white;
  font-family: Tahoma;
  font-size: 20px;
  font-weight: bold;
}

.button a, .button-success a {
  text-decoration: none;
  color: white;
}

.button a:hover, .button-success a:hover {
  color: white;
}

.button-success {
  background: #40ad38;
}
