/*
CSS background properties:

background-color
background-image
background-repeat
background-attachment
background-position
 */

body {
    background-image: url("planet3.png");
    background-repeat: repeat-x; /* repeats image only horizontally */
}

body {
    background-image: url("planet3.png");
    background-repeat: no-repeat; /* showing image only once */
}

body {
    background-image: url("planet3.png");
    background-repeat: no-repeat;
    background-position: right top; /* setting background image position */
    background-attachment:fixed; /* specifies whether the background image should scroll or be fixed */
}

/* we can set all properties in one line */
body {
    background: #ffffff url("planet3.png") no-repeat right top fixed;
}